
@{
    ViewBag.Title = "Housings";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add book", "New")
<br />

@foreach (var housing in ViewBag.Housings)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("Link", "Link:")
            <br />
            <p>@housing.Link</p>

            @Html.Label("Price", "Pret:")
            <br />
            <p>@housing.Price</p>

            @Html.Label("NoOfRooms", "Numarul de camere:")
            <br />
            <p>@housing.NoOfRooms</p>

            @using (Html.BeginForm(actionName: "Details", controllerName: "Housing", method: FormMethod.Get, routeValues: new { id = housing.HousingId }))
            {
                <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Detalii</button>
            }

        </div>
    </div>
}