
@{
    ViewBag.Title = "Locations";
}

<h2>@ViewBag.Title</h2>

<br />
@Html.ActionLink("Add location", "New")
<br />

@foreach (var location in ViewBag.Locations)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("Country", "Country:")
            <br />
            <p>@location.Country</p>

            @Html.Label("City", "City:")
            <br />
            <p>@location.City</p>

            @Html.Label("Placement", "Placement:")
            <br />
            <p>@location.Placement</p>

            @using (Html.BeginForm(actionName: "Details", controllerName: "Location", method: FormMethod.Get, routeValues: new { id = location.LocationId }))
            {
                <button style="margin-right:5px; margin-left:5px" class="btn btn-primary col-lg-1" type="submit">More details</button>
            }
        </div>
    </div>
}